# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de la base de datos SQL Server
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_SERVER=localhost
DB_DATABASE=InscripcionAsamblea
DB_PORT=1433

# Opciones de conexión
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true
